{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="bg-dark text-light text-center p-2">
	<img class="profile-pic rounded-circle p-0 my-2" src="{% static 'img/pacia.jpg' %}" alt="Profile picture" >
	<h2>Witaj {{ user }}!</h2>
</section>

<section>
	<ul class="nav nav-tabs bg-dark text-light d-flex justify-content-center" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			 <button class="nav-link active px-2 py-1 px-sm-3 py-sm-2" id="rec-tab" data-bs-toggle="tab" data-bs-target="#rec" 
			 type="button" role="tab" aria-controls="rec" aria-selected="true">Recenzje</button>
		</li>
		<li class="nav-item" role="presentation">
			 <button class="nav-link px-2 py-1 px-sm-3 py-sm-2" id="polecone-tab" data-bs-toggle="tab" data-bs-target="#polecone" 
			 type="button" role="tab" aria-controls="polecone" aria-selected="false">Polecone</button>
		</li>
		<li class="nav-item" role="presentation">
			 <button class="nav-link px-2 py-1 px-sm-3 py-sm-2" id="fav-tab" data-bs-toggle="tab" data-bs-target="#fav" 
			 type="button" role="tab" aria-controls="fav" aria-selected="false">Ulubione</button>
		</li>
		<li class="nav-item" role="presentation">
			 <button class="nav-link px-2 py-1 px-sm-3 py-sm-2" id="blacklist-tab" data-bs-toggle="tab" data-bs-target="#blacklist" 
			 type="button" role="tab" aria-controls="blacklist" aria-selected="false">Czarna lista</button>
		</li>
	</ul>		
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="rec" role="tabpanel" aria-labelledby="rec-tab">
					<div class="container p-4">
						<div class="row row-cols-auto justify-content-center g-4">
							<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/godfather.jpg' %}" class="card-img-top" alt="Okładka Ojciec Chrzestny">
									<div class="card-body">
										 <h5 class="card-title">Ojciec Chrzestny</h5>
										 <p class="card-text">Opowieść o nowojorskiej rodzinie mafijnej. 
										Starzejący się Don Corleone pragnie przekazać władzę swojemu synowi.</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/forrest.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
										<h5 class="card-title">Forrest Gump</h5>
									    <p class="card-text">Historia życia Forresta, chłopca o niskim ilorazie inteligencji
										z niedowładem kończyn, który staje się miliarderem i bohaterem wojny w Wietnamie.</p>
								    </div>
							    </div>
						    </div>
							<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/wladca.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									    <h5 class="card-title">Władca Pierścieni: Powrót Króla</h5>
										<p class="card-text">Zwieńczenie filmowej trylogii wg powieści Tolkiena. Aragorn jednoczy siły Śródziemia, 
										szykując się do bitwy, która ma odwrócić uwagę Saurona od podążających w kierunku Góry Przeznaczenia hobbitów.</p>
								    </div>
							    </div>
							</div>
						</div>
					</div>
				</div>		
				<div class="tab-pane fade" id="polecone" role="tabpanel" aria-labelledby="polecone-tab">
					<div class="container p-4">
						<div class="row row-cols-auto justify-content-center g-4">
							<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									  <h5 class="card-title">Card title</h5>
									  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
							    </div>
						    </div>
						    <div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									    <h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
							  	</div>
						  	</div>
						  	<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
									  	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  	</div>
							  	</div>
						  	</div>
						</div>
					</div>
				</div>	
				<div class="tab-pane fade" id="fav" role="tabpanel" aria-labelledby="fav-tab">
					<div class="container p-4">
						<div class="row row-cols-auto justify-content-center g-4">
							<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									  <h5 class="card-title">Card title</h5>
									  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								    </div>
							  	</div>
						  	</div>
						  	<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									  <h5 class="card-title">Card title</h5>
									  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  	</div>
							  	</div>
						  	</div>
						  	<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									  <h5 class="card-title">Card title</h5>
									  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  	</div>
							  	</div>
						  	</div>
						</div>
					</div>
				</div>		
				<div class="tab-pane fade" id="blacklist" role="tabpanel" aria-labelledby="blacklist-tab">
					<div class="container p-4">
						<div class="row row-cols-auto justify-content-center g-4">
							<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									  <h5 class="card-title">Card title</h5>
									  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  	</div>
							  	</div>
						  	</div>
						  	<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									  <h5 class="card-title">Card title</h5>
									  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  	</div>
							  	</div>
						  	</div>
						  	<div class="col">
								<div class="card bg-dark text-light h-100">
									<img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="Books">
									<div class="card-body">
									  <h5 class="card-title">Card title</h5>
									  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  	</div>
							  	</div>
						  	</div>
						</div>
					</div>
				</div>
			</div>			
</section>

{% endblock %}